
  .loader {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100vw;
    display: flex;
    height: 100vh;
    transition: opacity 1s, visibility 5s;
    align-items: center;
    justify-content: center; 
    background: #24cdd5;
    }
    .loader--hidden {
    opacity: 0;
    visibility: hidden;
    }

    .loader::after {
    content:"";
     width: 75px;
    height: 75px; 
    border: 15px solid #dddddd;
    border-top-color: #950000;
    border-radius: 50%;
    animation: loading 2s ease infinite;
    }
    @keyframes loading {
    from{
        transform: rotate(Oturn);
    }
    to {
    transform: rotate(2turn);
    }
    }
 

 html{
    box-sizing: border-;
    font-size: 16px;
 }
 *, *:before, *:after{
    box-sizing: inherit  ;
 }
  body, h1, h2, h3, h4, h5, p, ol, ul{
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
body{
    background: #212529;
    height: 2000px;
}


ol,ul{
    list-style: none;
}

img{
    max-width: 200px;
    height: 100px ;
}

a:hover{
    text-decoration: none;
}
body{
    font-family:'oswald', sans-serif;
    color: #26313c;
    line-height: 1.5;
}

ul{
    margin: 0;
    padding: 0;

}

.header{
    position: relative;
    transition: all 0.7s;
    z-index: 9;
}

.header .wrap{
    width: 1140px;
    max-width: 100%;
    margin: auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}
 
.header .sticky{
    width: 100%;
    position: fixed;
    background-color: #212529;
    box-shadow: 0 10px 10px -10px rgba(0,0,0,0.35);
}

 .header .logo{
    margin: 0;
    padding: 16px 0;
    
 }  

 header .logo a,
 .header .logo a img{
    display: block;
 }

 .header .logo img{
    width: 200px;
 }

 .header .menu ul{
    display: flex;
 }

 .header .menu li{
    padding: 20px;
    position: relative;
    right: 250px;
 }

 .header .menu a{
    font-size: 1.2rem;
    color: white;
    padding: 8px;
    display: block;
    text-transform: uppercase;
 }

 .header .menu a:hover{
    color: #24cdd5;
 }

.header .sidemenu-toggler{
    position:absolute;
    width: 40px;
    padding: 6px;
    top: 23px;
    right: 40px;
}

.header .sidemenu-toggler >span{
    display: block;
    background-color: white;
    height: 2px;
}

.header .sidemenu-toggler >span:nth-child(2){
    margin: 4px 0 4px auto;
    width: 75%;
    transition: 0.3s all;
}

.header .sidemenu-toggler >span:nth-child(3){
    margin-left: auto;
    width: 50%;
    transition: 0.6s all;
}

.header .sidemenu-toggler:hover > span:nth-child(2),
.header .sidemenu-toggler:hover > span:nth-child(3){
    width: 100%;

}
.header .sidemenu{ 
    position: fixed; 
    top: 0; 
    right:0;
    background-color: #3bb78f;
    background-image: linear-gradient (315deg, #3bb78f 0%, #0bab64 74%); 
    width: 25%; 
    height: 100vh;
     padding: 4rem;
      color: white; 
      transform: translate3d(100%, 0, 0);
       transition: transform 0.5s ease-in-out;
    overflow: hidden;
    z-index: 999;
    
    }

    .header .sidemenu.active{
        transform: translate3d(0,0,0);
    }

    .header .sidemenu .close{
        height: 30px;
        width: 30px;
        display: block;
        position:absolute;
        right: 20px;
        top: 24px;
    }

.header .sidemenu .close::before,
.header .sidemenu .close::after{
    content: "";
    position:absolute;
    top: 0;
    left: 13px;
    height: 28px;
    width: 2px;
    background: white;


}

.header .sidemenu .close::before{
    transform: rotate(45deg);
}

.header .sidemenu .close::after{
    transform: rotate(-45deg);

}

.header .sidemenu nav ul{
    padding-top: 30px ;
}


.header .sidemenu nav li{
    padding-top: 15px 0;
}

.header .sidemenu nav a {
    font-size: 1.3rem;
    color:white;
    text-transform: uppercase;
}

.header .sidemenu footer {
     padding-top: 100px;
     font-size: 1.2em;
     text-transform: uppercase;
}

.header .sidemenu footer .social a{
    display:flex;
    align-items: center;
    margin-bottom: 9px;
    position: relative;
    left: 90px;  
    bottom: 20px;
    color: white; 
     
}
.header .sidemenu footer .social {

    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 30px;
    height: 60px;
transition: all 0.3s linear;
margin-right:5px;
text-transform:uppercase;
}


@media (max-width: 1199px){
    .header .menu{
        display: none;
    }
}
.home{
    margin-top: 100px;
}

.hero-text{
    font-family: ' poppins', sans-serif;
} 
  
.title{
    background-color: #0bceaf;
    font-size: 17px;
    line-height: 124px;
    padding: 10px 40px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:0px;  
    margin-left: 200px;
    margin-top: -220px;
    margin-bottom:-200px;
    
} 
.name{
     font-size: 80px;
     letter-spacing: -1px;
    line-height: -0%;
    margin-left: 200px;

}
.designation{
    font-size: 30px;
    margin-left: 200px;

}
.email{
    margin-top: 40px ! important;
    font-family:' poppins', sans-serif; 
    margin-left: 200px;

}
.phone{
    margin-top: 40px ! important;
    font-family:' poppins', sans-serif; 
    margin-left: 200px;

}

.social-icons li{
    list-style:none;
    margin-right: 30px;
    margin-top: 20px;
    font-size: 25px;
    letter-spacing: 0ch;
    cursor: pointer; 
}


.fa-facebook{
    margin-left: 200px;
}


.hero-img{
    margin-left: 720px;
    margin-top: -400px;

}

.hero-img img{
    margin: 0 auto;
    float: none;
    text-align:center;
    border:20px solid rgba(0,0,0,0.17);
    border-radius: 70%;
}

.img-border{
    height: 300px;
    width: 300px;
    border: 20px solid rgba(0,0,0,0.07);
    margin: 0 auto;
    border-radius: 50%; 
}




/* <!--------------------------------------------SCROLLBAR-------------------------------------------------> */

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    width: 10px;
    background: #212922;
    border-left: 0 solid white;
    border-right: 0 solid white;

}

::-webkit-scrollbar-thumb{
    background: #3bb78f;
    width: 0;
    height: 35%;
    transition: 0.5s ease;
    cursor: pointer; 
}

/* <!-----------------ABOUT--------------------> */


.about{
    font-family: 'poppins',sans-serif;
    /* margin-left: 500px;  */
    
}
 .chetan{
    height: 500px;
    width: 200px; 
 }

.gap{
    margin-left: 20px;
}

.tag ul li{
    margin: 0px 6px;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 4px 0px;
    display: inline-block;
}

.tag ul li span{
   border: 1px solid #0bceaf;
   padding: 4px 10px;
   border-radius: 4px;

}
.tag ul li span:hover{
    background-color: transparent !important;
}

.btn-danger{
    background-color:#24cdd5 ;
    color: white;
    padding:14px 20px;
    border: none;
    border-radius:50px;
}
    /* <!----------------------------skills------------------------------------------> */

    .wrapper{

        
        width: 900px;
        display: flex;
        flex-wrap: wrap;
        align-items:center;
        justify-content: space-between;
        text-align: center;
        justify-content: center;
      }
      
      .wrapper .card{
        text-align: center;

        width: 30%;
        height: 200px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        box-shadow: 0px 10px 15px rgba(162, 157, 20, 0.1) ;
         background-color: #212529;
      }
      .circleBar{
        text-align: center;
        font-family: 'poppins',sans-serif;
        color: white;
        margin-left: 15%;
      }
      .wrapper .card .circle{
        position: relative;
        height: 150px;
        width: 150px;
        border-radius: 50px;
        cursor: default;
      
      }
      
      .card .circle .box,
      .card .circle .box span{
        position: absolute;
        top: 59%;
        left: 45px;
      
      }
      
      .card .circle .box{
        height: 10vh;
        width: 0%;
        background: rgb(106, 52, 52);
        border-radius: 50%;
        transform: translate(-50%,-50%)  scale(0.6);
        transition: all 0.2s;
      }
      
      .card .circle:hover .box{
        transform: translate(-50%,-50%)  scale(0.91);
        
      }
      
      .card .circle .box span,
      .wrapper .card .text{
        background:-webkit-linear-gradient(left, #f3f3f3, #ffffff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      
      .circle .box span{
        font-size: 38px;
        font-weight: 700;
        transform: translate(-45%, -45%);
        transition: all 0.1s;
      }
      .card .circle:hover .box span{ transform:translate (-45%, -45%) scale(1.09);
      
      }
      
      .card .text{
      
      font-size:20px;
      
      font-weight: 600;
      
      }
       @media (max-width:753px) {
      
      .wrapper{
      
      max-width:700px;
      
      }
      
      .wrapper .card{
      
        width:calc(50% - 20px);
        margin-bottom:20px;
      }
      }
      
      @media (max-width:505px) {
      
        .wrapper{
        
        max-width:500px;
        
        }
        
        .wrapper .card{
      width: 100%;
        }
        }
        
/* <!-------------------------contact-------------------------------------------- -->  */


.chetan{
    color: #ffff;
    text-align: center;
    font-family: 'poppins',sans-serif;
    width: auto;
    /* height: 100px; */
    margin-bottom: -30%;
    

}
.form{
    grid-area: form;
}


.info{
    grid-area: info;
}


.map{
    grid-area: map;
}
.contact{
    padding: 40px;
    background-color: #26313c;
    box-shadow: 1 5px 35px rgb(255, 0, 0);
}


.box{
    position: relative;
    display: grid;
    grid-template-rows: 9fr 6fr;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "form info" 
    "form map ";
    grid-gap: 42px;
    margin-top: -30px;
}

.contact h3{
    color:white;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}


/* -----------form-------------------------------- */


.formBox
{
    position: relative;
    width: 100%;

}

.formBox .row50{
    display: flex;
    gap: 20px;
}

.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.formBox .row .inputBox {
    width: 100%;
 
 }
 

.inputBox span{
    color: #e3e3e3;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}
.inputBox textarea{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 200px;
    margin-bottom: 30px


}

.inputBox input[type="submit"]{
    background-color: #09ffff;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
}

.inputBox input[type="submit"]:hover{
    background-color: transparent;
    color: red;
}

.inputBox ::placeholder{
    color: #999;
}   
    
    /* ------------info---------- */

 .info{
 background-color: #26313c;
 }   

.info h3{
    color: #fff;
}

.info .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}


.info .infoBox div span{
 min-width: 40px;
 height: 40px;
 color: #fff;
 background: #18b7ff;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 1.5em ;
 border-radius: 50%;
 margin-right: 15px;
}

.info .infoBox div p{
    color: #fff;
    font-size: 1.1em;
}
.info .infoBox div a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;

}

.sci{
    margin-top: 30px;
    display: flex;
}
.sci li{
list-style: none;
margin-right: 15PX;


}
.sci li a{
color: #fff;
font-size: 2em;
color: #ccc;
}

.sci li a:hover{
 color:#fff;
}


/* ----------------map--------------- */
 .map{
    padding: 0;
 } 
.map iframe{
    width: 100%;
    height: 100%;
}



